.class

# Package Files #
*.jar
*.war
*.ear

target

.settings
.project
.classpath
.DS_Store

bin
config.properties
.idea
.springBeans
.pydevproject
*.pyc
._*
localconfig.py
build
dist
*.egg-info
test.py

