<p class="lead">
    I created this web site as a simple way to compare two cyclists against each other using segments both have ridden.
</p>

<a ng-hide="athlete" ng-click="sendToStrava()"><img src="assets/ConnectWithStrava.png" alt="Connect with Strava"/></a>

<div ng-show="athlete">
	<p><img ng-src="{{athlete.profile}}"/></p>
	<p>Welcome {{athlete.firstname}}</p>
    <p><a href="#comparisons">View Comparisons</a></p>
	<p><button ng-click="disconnect()">Disconnect from Strava</button></p>
</div>
